<h1>9 Panels Weather-App</h1>
<div class="container">
    <div class="row">
      <div class="col-md">
        <app-panels></app-panels>
      </div>
      <div class="col-md">
        <app-panels></app-panels>
      </div>
      <div class="col-md">
        <app-panels></app-panels>
      </div>
    </div>

    <div class="row">
        <div class="col-md">
          <app-panels></app-panels>
        </div>
        <div class="col-md">
          <app-panels></app-panels>
        </div>
        <div class="col-md">
          <app-panels></app-panels>
        </div>
    </div>

    <div class="row">
        <div class="col-md">
          <app-panels></app-panels>
        </div>
        <div class="col-md">
          <app-panels></app-panels>
        </div>
        <div class="col-md">
          <app-panels></app-panels>
        </div>
    </div>
  </div>